<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="WindowsFormsApplication1.Properties.Settings.connetion"
   connectionString="Data Source=your_pc_name;AttachDbFilename=E:\Super Pansar Versions\Pkg Version\WindowsFormsApplication1\bin\Debug\super pansar.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="WindowsFormsApplication1.Properties.Settings.super_pansarConnectionString"
   connectionString="Data Source=your_pc_name;AttachDbFilename=E:\Super Pansar Versions\Pkg Version\WindowsFormsApplication1\bin\Debug\super pansar.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
 <userSettings>
  <WindowsFormsApplication1.Properties.Settings>
   <setting name="CurrentUserID" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CurrentUserName" serializeAs="String">
    <value>""</value>
   </setting>
   <setting name="CurrentUserType" serializeAs="String">
    <value>""</value>
   </setting>
  </WindowsFormsApplication1.Properties.Settings>
 </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
